/**
 * @version 2.0.0
 * @since 23-APR-2018
 */

#login-window {
    align-items: center;
    justify-content: center;
}

#login-button {
    width: 100%;
    background: #8b8b8b;
    border-radius: 3px;
    color: #ffffff;
}

#login-header {
    margin-bottom: auto;
}

#login-footer {
    margin-top: auto;
}

#profile-img {
    background: orangered;
    width: 210px;
    height: 210px;
    border-radius: 3px;
}
