/**
 * @version 2.0.0
 * @since 16-MAY-2018
 */

#meter {
	display: flex;
}

#meter-header {
  margin-bottom: auto;
}
#meter-menu-button {
  width: auto;
  cursor: pointer;
  margin-right: 20px;
}
#meter-footer {
  margin-top: auto;
}

#meter-movement-track {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#motor-speed-value {
  font-size: 15rem;
}

#sensor-value {
  font-size: 5rem;
}
